html {
  font-size: 62.5%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
body{
  margin : 0;
}
ul{
  list-style-type: none;
}
#header{
  width: 100%;
  height: 5rem;
  border-bottom: 4px double red;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 50;
}
#header-img{
  height: 5rem;
}
section{
  border: 1px solid red;
  width: auto;
  height: auto;
  padding-top: 5rem;
}
#nav-ul{
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-end;
}
#nav-ul > li{
  padding: 0px 0.5rem;
}
li > a{
  text-decoration: none;
  color : #000;
}
li > a:hover{
  background : red;
}
h1{
  text-align: center;
  font-size: 3.2rem;}
h2{
  text-align: center;
  font-size: 2.4rem;
}
h4{
  background-color: #ffaaaa; 
}
hr{
  border-top: 4px double  red;
}
#enga-txt{
  text-align: center;
  font-size: 1.8rem;
  padding: 0 25%;
}
#enga-txt > li{
  padding-top: 1.6rem; 
  border-left : 4px double red;
  border-right : 4px double red;
}
#video{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
iframe{
  width: 400px;
  height: 225px;
  border: 1rem solid transparent;
}
.com{
  display: flex;
  position: relative;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%);
}
#contctxt{
  font-size:1.2rem;
}
#divof{
  display :flex;
  flex-direction: column;
  position: relative;
  right: 2rem;
}
@media (max-width:800px) {
  h3{
    margin: 2rem 3px 0px 3rem;
    font-size: 2rem;
  }
  .prix{
    margin-left: 3rem;
  } 
}
.abo{
  border: 4px double red;
  font-size: 1.6rem;
}
.descriptionOffre{
  margin: 3px;
}
@media (min-width: 800px){
  #divof{
    display : grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  #divof > ul{
    width : 25rem;
    text-align: center;
  }
  .abo{
    border: 4px double red;
    height: 35rem;
    font-size: 1.8rem;
  }
}
form{
  text-align: center;
  margin-bottom: 2rem;
}
#popup{
  background-color: #ffaaaa;
  border: 4px double red;
  border-radius: 15px;
  width: 60rem;
  margin: auto;
  font-size: 1.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 51;
  line-height: 70%;
}
@media (max-height:600px) {
  #popup{
    position:absolute;
    left: 50%;
    top:240%;
  }
}
@media (max-height:500px) {
  #popup{
    position:absolute;
    left: 50%;
    top:270%;
  }
}
.popupNone{
  display: none;
}
#popup > h3{
  text-align: center;
}
#infoClient, #infoLivraison, #infoCB{
  display: inline-block;
  text-align: left;
  margin: 0px 10%;
}
h5{
  font-size: 1.6rem;
  text-align: center;
}
.rue{
width: 26rem;
}
.cp{
  width: 8rem;
}
.dateCB{
  width: 8rem;
}
.code3chifreCB{
  width: 5rem;
}
::placeholder{
  text-align: right;
}
#valider{
  display: block;
  margin: 1rem auto;
}